[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
gradio = "*"
pydantic = "*"
pydantic-ai = "*"
langgraph = "*"
langgraph-sdk = "*"
langgraph-cli = "*"
langgraph-checkpoint-sqlite = "*"
langchain-openai = "*"
langchain-core = "*"
langchain-community = "*"
langchain-postgres = "*"
swarm = {git = "https://github.com/openai/swarm.git"}
phidata = "*"

[dev-packages]
ipykernel = "*"
ipython = "*"
notebook = "*"
jupyter = "*"
jupyterlab = "*"
nbstripout = "*"
pylance = "*"
black = "*"
isort = "*"
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.11"

[scripts]
tests = "python -m unittest discover -s tests"
