[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fastapi = {extras = ["standard"], version = "*"}
gradio = "*"
langchain-community = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-postgres = "*"
langgraph = "*"
langgraph-checkpoint-sqlite = "*"
langgraph-cli = "*"
langgraph-sdk = "*"
openai = "*"
pgvector = "*"
phidata = "*"
psycopg = {extras = ["binary"], version = "*"}
pydantic = "*"
pydantic-ai = "*"
pypdf = "*"
smolagents = "*"
swarm = {git = "https://github.com/openai/swarm.git"}
dspy = "*"

[dev-packages]
autopep8 = "*"
black = "*"
ipykernel = "*"
ipython = "*"
isort = "*"
jupyter = "*"
jupyterlab = "*"
nbstripout = "*"
notebook = "*"
pylance = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.11"

[scripts]
tests = "python -m unittest discover -s tests"
